body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: linear-gradient(rgb(98, 202, 98), rgb(123, 221, 123));
	background-repeat: no-repeat;
	background-size: cover;
}
.whole_page2 {
}
.snake_container {
	align-items: center;
	justify-content: center;
	/* background-image: url("backgrondimage.png"); */
	display: flex;
}
.game_grid {
	position: relative;
	width: 80vw;
	height: 80vh;
	margin: 50px auto;
	background-color: rgb(0, 0, 0);
	border: 5px solid white;
}
.grid_unit {
	outline: 1px solid grey;
	width: 50px;
	height: 50px;
}
.snakeGameTitle {
	font-family: cursive;
	text-align: center;
	font-size: 80px;
	color: white;
	padding-top: 50px;
	margin-bottom: 10px;
}
.extrainfo {
	display: flex;
}
.scoreTitleCurrent {
	margin-top: -40px;
	margin-left: 10vw;
	color: white;
	font-family: cursive;
	font-size: 28px;
}
.startScreen {
	position: relative;
	width: 80vw;
	height: 80vh;
	margin: 50px auto;
	background-color: rgb(0, 0, 0);
	border: 5px solid white;
}

.startTitle {
	font-size: 9vw;
	color: lime;
	text-align: center;
	display: inline;
	margin-left: 19vw;
	font-family: cursive;
}
.chooseGameMode {
	font-size: 2.5vw;
	color: white;
	text-align: center;
	display: block;
	margin-top: 70px;
	font-family: cursive;
}
.listOfModes {
	list-style-type: none;
	margin: 0 auto;
	color: lime;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 100px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-weight: 100;
}
.slug {
	margin-right: 2vw;
	font-size: 3.5vw;
	border: 5px solid white;
	border-radius: 10px;
	padding: 0.35vw;
	width: 200px;
}
.worm {
	margin-right: 2vw;
	font-size: 3.5vw;
	border: 5px solid white;
	border-radius: 10px;
	padding: 0.35vw;
	width: 200px;
}
.python {
	margin-right: 2vw;
	font-size: 3.5vw;
	border: 5px solid white;
	border-radius: 10px;
	padding: 0.35vw;
	width: 210px;
}
.slug:hover,
.worm:hover,
.python:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.slug:active,
.worm:active,
.python:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.slug:visited,
.worm:visited,
.python:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all 0.2s;
	position: absolute;
}
.scoreContent {
	display: flex;
}
.score {
	color: red;
	margin-top: -42px;
	font-family: cursive;
	font-size: 32px;
}
